<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
      Name="Htc.Vita.Wix.Extension.TestBundle"
      Manufacturer="HTC Corp."
      UpgradeCode="66960f01-ce93-4df1-ab23-a09e141d3a1d"
      Version="!(bind.packageVersion.Htc.Vita.Wix.Extension.TestPackage.x86)">
    <BootstrapperApplicationRef
        Id="WixStandardBootstrapperApplication.HyperlinkLargeLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl="https://github.com/ViveportSoftware/vita_wix_extension/blob/master/LICENSE.md"
          ShowVersion="yes"
          LocalizationFile="../packages/Htc.Vita.Wix.Themes.0.9.0.4/content/wix3/HyperlinkTheme.wxl"
          LogoFile="../packages/Htc.Vita.Wix.Themes.0.9.0.4/content/wix3/logo.png"
          ThemeFile="../packages/Htc.Vita.Wix.Themes.0.9.0.4/content/wix3/HyperlinkLargeTheme.xml"
      />
      <Payload
          Id="theme_zh_CN_string"
          Compressed="yes"
          Name="2052\thm.wxl"
          SourceFile="../packages/Htc.Vita.Wix.Themes.0.9.0.4/content/wix3/2052/HyperlinkTheme.wxl"
      />
      <Payload
          Id="theme_zh_TW_string"
          Compressed="yes"
          Name="1028\thm.wxl"
          SourceFile="../packages/Htc.Vita.Wix.Themes.0.9.0.4/content/wix3/1028/HyperlinkTheme.wxl"
      />
    </BootstrapperApplicationRef>
    <Variable
        Name="InstallFolder"
        Type="string"
        Value="[ProgramFiles6432Folder]Htc.Vita.Wix.Extension.TestBundle"
    />
    <Chain>
      <MsiPackage
          Id="Htc.Vita.Wix.Extension.TestPackage.x64"
          InstallCondition="VersionNT64"
          SourceFile="$(var.Htc.Vita.Wix.Extension.TestPackage.x64.TargetPath)">
        <MsiProperty
            Name="INSTALLFOLDER"
            Value="[InstallFolder]"
        />
      </MsiPackage>
      <MsiPackage
          Id="Htc.Vita.Wix.Extension.TestPackage.x86"
          InstallCondition="NOT VersionNT64"
          SourceFile="$(var.Htc.Vita.Wix.Extension.TestPackage.x86.TargetPath)">
        <MsiProperty
            Name="INSTALLFOLDER"
            Value="[InstallFolder]"
        />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
