<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary
        Id="Vita.Wix.CA.dll"
        SourceFile="$(var.Htc.Vita.Wix.CustomAction.net45.TargetDir)Htc.Vita.Wix.CustomAction.CA.dll"
    />
    <CustomAction
        Id="Vita_CurrentTimestampFetcher"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="CurrentTimestampFetch"
        Execute="immediate"
        Return="check"
    />
    <CustomAction
        Id="Vita_RegistryKeyCleanerImmediate"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="RegistryKeyCleanImmediate"
        Execute="immediate"
        Return="check"
    />
    <CustomAction
        Id="Vita_RegistryKeyCleanerDeferred"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="RegistryKeyCleanDeferred"
        Execute="deferred"
        Return="check"
    />
    <CustomAction
        Id="Vita_RegistryValueCleanerImmediate"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="RegistryValueCleanImmediate"
        Execute="immediate"
        Return="check"
    />
    <CustomAction
        Id="Vita_RegistryValueCleanerDeferred"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="RegistryValueCleanDeferred"
        Execute="deferred"
        Return="check"
    />
    <CustomAction
        Id="Vita_ServiceManagerImmediate"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="ServiceManageImmediate"
        Execute="immediate"
        Return="check"
    />
    <CustomAction
        Id="Vita_ServiceManagerDeferred"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="ServiceManageDeferred"
        Execute="deferred"
        Return="check"
    />
    <CustomAction
        Id="Vita_SidTranslator"
        BinaryKey="Vita.Wix.CA.dll"
        DllEntry="SidTranslate"
        Execute="immediate"
        Return="check"
    />
    <InstallExecuteSequence>
      <Custom
          Action="Vita_CurrentTimestampFetcher"
          After="InstallInitialize"
      />
      <Custom
          Action="Vita_RegistryKeyCleanerImmediate"
          Before="Vita_RegistryKeyCleanerDeferred"
          Overridable="yes"
      />
      <Custom
          Action="Vita_RegistryKeyCleanerDeferred"
          After="InstallInitialize"
          Overridable="yes"
      />
      <Custom
          Action="Vita_RegistryValueCleanerImmediate"
          Before="Vita_RegistryValueCleanerDeferred"
          Overridable="yes"
      />
      <Custom
          Action="Vita_RegistryValueCleanerDeferred"
          After="InstallInitialize"
          Overridable="yes"
      />
      <Custom
          Action="Vita_ServiceManagerImmediate"
          Before="Vita_ServiceManagerDeferred"
          Overridable="yes"
      />
      <Custom
          Action="Vita_ServiceManagerDeferred"
          After="InstallInitialize"
          Overridable="yes"
      />
      <Custom
          Action="Vita_SidTranslator"
          After="InstallInitialize"
      />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
